# Build output
/build/
/dist/

# NetBeans private config
/nbproject/private/

# Keep shared config
!nbproject/project.properties
!nbproject/project.xml

# Compiled Java files
*.class

# Logs / temp
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Editor settings
.idea/
.vscode/
*.iml
